<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<title>Cadastro</title>
<link rel="stylesheet" href="css/style.css">
</head>

<body>

<header>
<h1>Cadastro no Sistema</h1>
</header>

<main>

<form>

<label>Nome</label>
<input type="text">

<label>CPF</label>
<input type="text">

<label>Email</label>
<input type="email">

<label>Senha</label>
<input type="password">

<label>Tipo de usuário</label>

<select>
<option>Aluno</option>
<option>Professor</option>
</select>

<button type="submit">Cadastrar</button>

</form>

<br>

<a href="login.html">
<button>Voltar</button>
</a>

</main>

</body>
</html>
