<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Painel do Aluno</title>
<link rel="stylesheet" href="css/style.css">
</head>

<body>

<header>
<h1>Painel do Aluno</h1>
</header>

<nav>
<ul>

<li><a href="/notas">Minhas Notas</a></li>
<li><a href="/materiais">Materiais</a></li>
<li><a href="/desempenho">Meu Desempenho</a></li>
<li><a href="/calendario">Calendário</a></li>

</ul>
</nav>

<main>

<h2>Área do aluno</h2>

<a href="/index">
<button>Sair</button>
</a>

</main>

</body>
</html>
