<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Painel do Professor</title>
<link rel="stylesheet" href="css/style.css">
</head>

<body>

<header>
<h1>Painel do Professor</h1>
</header>

<nav>
<ul>

<li><a href="alunos.html">Alunos</a></li>
<li><a href="notas.html">Gerenciar Notas</a></li>
<li><a href="presenca.html">Presença</a></li>
<li><a href="materiais.html">Materiais</a></li>
<li><a href="feedback.html">Feedback</a></li>
<li><a href="calendario.html">Calendário</a></li>
<li><a href="desempenho.html">Desempenho Acadêmico</a></li>

</ul>
</nav>

<main>

<h2>Área do professor</h2>

<a href="index.html">
<button>Sair</button>
</a>

</main>

</body>
</html>
